body {
background-image: url('http://img38.imageshack.us/img38/6733/kuto.gif') !important;
background-position: Center Center;
background-repeat: no-repeat;
background-attachment: scroll;
background-color: #000;
font-family: Courier New; 
font-size: 11px; 
color: #008000;      
padding: 2px;
max-width: 500px;
margin-left: auto;
margin-right: auto; 
cursor: hand;
scrollbar-arrow-color: #232323;
scrollbar-base-color: #000000;
scrollbar-shadow-color: #f3f3f3;
scrollbar-face-color: #565656;
scrollbar-highlight-color: #595959;
scrollbar-dark-shadow-color: #ffffff;
scrollbar-3d-light-color: #9baac1;
}

img {
border: 1px ridge;
opacity: 0.7;
filter:alpha(opacity=70);
}

hr {
background-color: #747170;
color: #008000;
border: none;
height: 1px;
}

a:link, a:visited {
color: #008000;
text-decoration: none;
}

a:hover, a:active {
color: #efad20;
text-decoration: none;
}

p:first-letter {
font-weight: bold;
}

p:first-child {
text-decoration: underline;
}

input, select, textarea
{
color: #0174d9;
border: 1px solid;
border-color: #747170 #747170 #343130 #343130;
}

input[type="submit"], input[type="reset"] {
color: #fff;
text-align: center;
background: #000;
border: 2px solid;
border-color: #747170 #747170 #343130 #343130;
}

.nav {
margin-top: 5px;
margin-bottom: 2px;
padding: 3px;
background-color: #dbb005;
text-align: center;
font-size: 11px;
font-weight: bold;
color: #fff;
vertical-align: middle;
border-color: #ccc #ccc #999 #999;
border-style: solid;
border-width: 1px;
text-transform: uppercase;
}

.center {
text-align: center;
}

.top {
font-size: 11px;
color: #fff;
padding: 3px;
background-color: #0052bd;
text-align: center;
font-weight: bold;
border-color: #ccc #ccc #999 #999;
border-style: solid;
border-width: 1px;
text-transform: uppercase;
text-decoration: blink;
}

.link {
padding: 2px;
font-size: 11px;
color: #fff;
text-align: center;
font-style: italic;
}

.link a:link, .link a:visited {
color: #008000;
text-decoration: none;
}

.link a:hover, .link a:active {
color: #cc5900;
text-decoration: none;
}

.footer {
margin-top: 5px;
margin-bottom: 2px;
padding: 3px;
background-color: #bd0000;
text-align: center; 
font-size: 10px;
font-weight: bold;
color: #fff;
border-color: #ccc #ccc #999 #999;
border-style: solid;
border-width: 1px;
text-transform: uppercase;
}

.timer {
/*display: none*/
color: #8b0000;
font-size: 9.8px;
line-height: 8px;
text-align: center;
font-style: italic;
margin: 6px;
}