body {
background: #99CCFF;
color: #000033;
}
input {
color: #CCFFFF;
background-color: #000033;
font-size: 8pt;
border-bottom: #000000 1px solid;
border-left: #000000 1px solid;
border-right: #000000 1px solid;
border-top: #000000 1px solid
}
p {padding:0px;margin: 0px 0px 0px 0px;}
input,select {
color: #00CCFF;
}
a, a:active  {
color: #0066FF;
}
a:visited {
color: #0033FF;
}
a:hover {
color: #000033;
background-color: #00CCFF;
}
head {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size: small;
}
img { border: 0; }
div.ahblock2 {
margin: 2px 0px 2px 0px;
padding: 0px 0px 0px 0px;
color: #00FFFF;
background-color: #000033;
border: 1px solid #FFFFFF;
}
a.nav, a.nav:active  {color: #FFFFFF;}
a.nav:visited  {color: #FFFFFF;}
a.nav:hover  {color: #FFFFFF;}
hr {
background-color: #000033;
color: #000033;
border: none;
height: 1px;
}
