body {

background-color:#ccffff;

font-family : Verdana;
font-size: small;

color:#080000}
input {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 10px;
background-color: #8cff1a;
color: #5e60c7;
border: 1px solid #000000;
}
p {padding:0px;}
h5 {
background-color: #1d4088;
color:#FFFFFF;
background-image : url(http://lankawap.com/xhtml/dwn/logo-bg-small.gif);
border-top-color: #9fcded;
border-top-style: solid;
border-top-width: 1px;
font-size: 100%;
font-weight: 700;
margin-bottom: 0.3em;

margin-top: -0.65em;
padding-bottom: 0.1em;
padding-left: 0.6em;
padding-right: 0.6em;
padding-top: 0.1em;
text-align: center;
}

h1 {
background-color: #F5F5E9;
border-top-color: #ffff99;
border-top-style: solid;
border-top-width: 1px;
font-size: 100%;
font-weight: 700;
margin-bottom: 0.3em;

margin-top: -0.65em;
padding-bottom: 0.1em;
padding-left: 0.6em;
padding-right: 0.6em;
padding-top: 0.1em;
}

h2 {
background-color: #9fcded;
border-top-color: #1e3c84;
border-top-style: solid;
border-top-width: 1px;
font-size: 100%;
font-weight: 700;
margin-bottom: 0.3em;

margin-top: -0.65em;
padding-bottom: 0.1em;
padding-left: 0.6em;
padding-right: 0.6em;
padding-top: 0.1em;
text-align: center;
}

h3 {
background-color: #fffbe2;
border-top-color: #e2c822;
border-top-style: solid;
border-top-width: 1px;
font-size: 100%;
font-weight: 700;
margin-bottom: 0.3em;

margin-top: -0.65em;
padding-bottom: 0.1em;
padding-left: 0.6em;
padding-right: 0.6em;
padding-top: 0.1em;
text-align: center;
}

h4 {
background-color: #F5F5E9;
border-top-color: #ffff99;
border-top-style: solid;
border-top-width: 1px;
font-size: 100%;
font-weight: 700;
margin-bottom: 0.3em;

margin-top: -0.65em;
padding-bottom: 0.1em;
padding-left: 0.6em;
padding-right: 0.6em;
padding-top: 0.1em;

}

a:link {color:#0000FF}
a:visited {color:#3755DB}
a:hover {color:#1d4088; font-weight:bold; text-decoration:underline; font-size: small;}
img {border: 0;}
hr {border: none 0;
margin: 2px 0px 2px 0px;
padding: 0px 0px 0px 0px;
text-align: left;
border-top: 1px dotted #000;/*the border*/

height: 0px;}
div.mblock1 {margin: 2px 0px 2px 0px; padding: 0px 0px 0px 0px; background-color: #FFFFFF; border: 1px dotted #1d4088; text-align: left;}
div.mblock2 {margin: 2px 0px 2px 0px; padding: 0px 0px 0px 0px; background-color: #FFFFFF; border: 1px dotted #1d4088; text-align: left;}
.pphoto {clear:both; float:left; padding-right: 4px; max-width: 58px; max-height: 60px; text-align: center;}