body { font-family: Calibri; font-size: 17px; margin: 2px; color: #FFF7FF; margin:0 auto;vertical-align:middle;width:400px;
background: url(http://coppewap.com/bg.gif); background-color: #000000; }
a:link, a:visited { text-decoration: underline; color : #B57B29 }
a:hover { text-decoration: none; color : #7C6248; position: relative; top: 1px; left: 1px; }
.a {padding: 0px; text-align: center; border: 1px solid #A58429;
background: url(http://http://coppewap.com/bg1.gif); font-size: 17px;
color: #FFFFFF;}
.b {padding: 0px; text-align: left; border: 1px solid #A58429;
background: url(http://http://coppewap.com/bg1.gif); font-size: 17px;
color: #FFFFFF;}
.c { padding: 0px; text-align: center; border: 1px solid #A58429; border-collapse:collapse;
background: url(http://http://coppewap.com/bg1.gif); color: #B57B29;}
input,select,textarea{ border: 1px solid #AA5500; background-color: #444444; color: #B57B29;}
.d {padding: 0px; text-align: center; border: 1px solid #A58429;
background: url(http://http://coppewap.com/bg1.gif); font-size: 21px;
color: #FF0000;}
